@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992 até 1200px
Grandes telas: acima de 1200px
*/

                /* Versão tablet */ 
@media screen  and (min-width: 768px) and (max-width: 992px){ 

    body {
        background-image: linear-gradient(to top, #070D0C, #2A403A);
    }

    section#login {
        width: 80vw;   
        height: 340px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: right bottom;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        padding: 20px;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #070D0C, #2A403A);
    }

    section#login {
        width: 900px;
        height: 360px;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        width: 60%;
        float: left;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;;
    }
}