@charset "UTF-8";

/* 
    Paleta de cores
    verde: #49a09d
    Lilás: #5f2c82
*/

/* ------------------- Versão Mobile first ----------------  */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #0d1816;
    height: 100vh;
    width: 100vw;
}


main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login { 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Para posicionar no meio a section*/

    background-color: white;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);

    overflow: hidden; /* Tudo que estiver fora da borda ficará escondido*/

    transition: width o.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-irina.jpg) no-repeat;
    height: 200px;
    background-position: center bottom;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

form >div.campo {
    display: block;
    background-color: #2A403A;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > input[type=submit] {
    display: block;
    font-weight: 1em;
    width: 100%;
    height: 40px;
    background-color: #F26835;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #ac4b28;
    margin-bottom: 4px;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    border: 1px solid #F26835;
    border-radius: 7px;
    color: #8C4A23;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #F26835;
}

form > a.botao > i {
    font-size: .8em;
}